.nav {
    display: flex;
    background-color: rgb(217, 122, 209);
    box-shadow: 0 20px 20px -5px rgba(0, 0, 0, 0.3);
    padding: 10px 30px;
    margin: 20px auto 40px;
    justify-content: center
    }
    
    .navDiv {
        display: flex;
        gap: 50px;
    }
    
    .link {
        font-size: 36px;
        font-weight: 500;
        color: white;
        text-decoration: none;
    }
    
    .link:hover, .link:focus {
        color: rgb(68, 36, 110);
    }