.title {
    font-weight: 500;
    font-size: 38px;
    text-align: center;
    color: rgb(68, 36, 110);
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 410px;
    margin: 0 auto;
}
.miniature {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.formTitle {
    font-weight: 500;
    font-size: 42px;
    color: rgb(68, 36, 110);
}
.formSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phonebook {
    display: flex;
    flex-direction: column;
    width: 420px;
    margin: 0 auto;
}
.phonebookTitle {
    font-size: 36px;
    font-style: oblique;
    margin: 30px auto;
}
.phonebookSubTitle {
    font-size: 24px;
    font-style: oblique;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
    border: 1px solid #E3D3D9;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3)

}

.label {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.input {
    border-radius: 5px;
    border: 1px solid #E3D3D9;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
    width: 250px;
    height: 20px;
}
.button {
    width: 100%;
    margin: 20px auto;
    padding: 8px;
    border: 1px solid #E3D3D9;
    border-radius: 5px;
    font-size: 18px;
    background-color: #FFEDF4;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3)
}


.navDiv {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
}

.link {
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.link:hover, .link:focus {
    color: rgb(68, 36, 110);
}